<a href="https://colab.research.google.com/github/josem361/PythonBootcamp/blob/main/Module%201/Session%207/m1s7nb2_math_as_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math as Code
    
    a. *Notation*
    
    b. *Sigma and Capital Pi*
    
    c. *Other Symbols*
    
    d. *Functions*

In [32]:
import numpy as np
import pandas as pd

## Why are we covering this topic?

For the remainder of the course, the students will be developing the algorithms for the analysis of data, including linear regression, classification, kmeans, knn, and PCA. While Python has library modules which perform these functions simply by importing and calling them, the class purpose is for you to understand the computational methods underlying these functions.

As you will see/have seen in the Lesson 12 videos for Linear Regression, we will be working through understanding the underlying logic behind the function, and then deriving the appropriate algorithm for it in mathematical terms. In the end we will have an algorithm, or a mathematical formula, which we will then put into Python code.

Additionally, in the homework notebooks and final exam, you MAY be asked to create an equation in code, given an analysis scenario and an equation to reproduce. An example of this that you have already seen is in Practice MidTerm 1 Problem 26. You we provided an equation for computing correlation, and the exercise required you to write a function to output the correlation.

Finally, many of the classes in this program require the student to work through deriving the algorithms and writing them in code.

#### Here is the (summarized) requirement from the PMT1.26 notebook:

Given `data`, a `list` of `dicts`, and `keys`, a `list` of `strings`, complete the function `create_cor_dict(data, key)` to find the correlation between each nutrient listed and all of the other nutrients listed.

Each dictionary in `data` should be treated as a single observation. You can compute the correlation with the following formulas.
- $n$ is the number of observations.
- $\bar{x}, \bar{y}$ - Means nutrient $x$, and nutrient $y$.
- $\bar{xy} = \frac{1}{n}\sum_{i=0}^{n-1}x_iy_i$
- $\sigma_x =$ **population** standard deviation - check your stats notes and documentation to make sure that you are calculating this correctly
- Correlation: $$c=\frac{\bar{xy} - (\bar{x})(\bar{y})}{\sigma_x \sigma_y}$$

#### As you can see, you have been given an equation and required to write a function for that equation.

If you want to review the problem, you can access the solution on the PMT1 solutions page.

Finally, another example is the Fall 2022 Final Exam, which we will begin working through later in this session. Exercises 4, 5, and 6 (which we will be covering next session) all provide a mathematical concept and equation for the student to replicate in code.

#### So let's get started.

## Notation Conventions

In general, we will use the following conventions. For a more complete listing, see the following:  https://en.wikipedia.org/wiki/List_of_mathematical_symbols_by_subject

### Variables


- *s* - italic lowercase letters for scalars (e.g. a number)
- **x** - bold lowercase letters for vectors (e.g. a 2D point)
- **A** - bold uppercase letters for matrices (e.g. a 3D transformation)
- *θ* - italic lowercase Greek letters for constants and special variables (e.g. [polar angle *θ*, *theta*](https://en.wikipedia.org/wiki/Spherical_coordinate_system))

### Equality symbols in equations


- `=` is for equality (values are the same)
- `≠` is for inequality (value are not the same)
- `≈` is for approximately equal to (`π ≈ 3.14159`)
- `:=` is for definition (A is defined as B)

In [33]:
## some examples
## equality
2 == 3

False

In [34]:
## inequality
2 != 3

True

In [35]:
## approximately equal
import math
print(math.isclose(math.pi, 3.14, rel_tol = 1e-09, abs_tol = 0.0))
print(math.isclose(2.005, 2.125, abs_tol = 0.25))

## Documentation:
## https://docs.python.org/3/library/math.html
## https://www.geeksforgeeks.org/python-math-library-isclose-method/

False
True

### Sigma

The Greek `Σ` (Sigma) is for [Summation](https://en.wikipedia.org/wiki/Summation). In other words: summing up some numbers.

$$\sum_{i=1}^{100}i$$

Here, `i=1` says to start at `1` and end at the number above the Sigma, `100`. These are the lower and upper bounds, respectively. The `i` to the right of the `Σ` is what we are summing.

range() function:  https://www.geeksforgeeks.org/python-range-function/

**Remember that**: `range()` in python has an `inclusive lower bound and exclusive upper bound`, meaning that `... for i in range(100)` is equivalent to `the sum of ... for i=0 to i=n-1`.

We can also specify the lower and upper bounds, along with the step size (see below).

In [36]:
## example
sum([i for i in range(1,101)])  ## why do we go to 101?

5050

In [37]:
## same
sum([i for i in range(1,101,1)])

5050

#### Let's look at a slightly more complex example.

$$\sum_{i=1}^{100}(2i+1)$$

In [38]:
sum([2*i + 1 for i in range(1,101)])

10200

In [39]:
## more readable version
sum([(2*i + 1) for i in range(1,101)])

10200

#### The summation notation can also be nested.

This is the same as nesting a `for` loop. You should evaluate the right-most sigma first, unless the author has enclosed them in parentheses to alter the order. Below is a simple example, and since this example deals with with finite sums, the order does not matter. The best practice, however, is to work from right to left in the summations.

$$\sum_{i=1}^{5}\sum_{j=2}^{10}(8ij)$$

In [40]:
# using for loops
x = 0
for i in range(1,6):
    for j in range(2,11):
            x += 8*i*j
x

6480

In [41]:
# using a comprehension
sum([sum([(8*i*j)  for j in range(2,11)]) for i in range(1,6)])

6480

### Capital Pi

The Capital Pi or "Big Pi" is very similar to Sigma ( $\sum$ ), except we are using multiplication to find the product of a sequence of values.

For example:

$$ j = \prod_{i=1}^{10}i$$

This is the same as:

1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10

In [42]:
## example
j = 1  ## have to start with a positive number
for i in range(1,11):
    j = i*j
j

3628800

#### The reduce() function in Python is also good for doing accumulations, such as $\sum$ and $\prod$.

It is part of the **functools** module, that you must import to use.

The **reduce(fun,seq)** function is used to apply a particular function passed in its argument to all of the list elements that are in the sequence passed along.

reduce() take two arguments:

    1. fun -- This is the function to apply
    2. seq -- The is the sequence that we want to apply the function on (generally a list or list-like variable)
    
Here is how it works:

    1. At first step, first two elements of sequence are picked and the result is obtained.
    
    2. Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
    
    3. This process continues till no more elements are left in the container.
    
    4. The final returned result is returned



https://docs.python.org/3/library/functools.html

https://www.geeksforgeeks.org/reduce-in-python/

In [43]:
import functools

# initializing list
num_list = [1,2,3,4,5,6,7]

# using reduce to compute sum of list
# note that we are using a lambda function
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, num_list))

The sum of the list elements is : 28

In [44]:
# using reduce to compute product list
print("The product of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a*b, num_list))

The product of the list elements is : 5040

In [45]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, num_list))

The maximum element of the list is : 7

#### You can also use the functions within the `operator`  module to do the accumulations.

The `operator` module has predefined functions for many mathematical, logical, relational, bitwise etc operations.

Here are two examples, based on what we have been doing so far:

    1. add(a, b) :- This function returns addition of the given arguments.
        Operation – a + b.

    2. mul(a, b) :- This function returns product of the given arguments.
        Operation – a * b.


https://docs.python.org/3/library/operator.html

https://www.geeksforgeeks.org/operator-functions-in-python-set-1/

In [46]:
a=5
b=4

# basic working with operator
import operator

operator.add(a, b)

9

In [47]:
operator.mul(a, b)

20

Now let's combine an operator function with reduce().

In [48]:
# add and accumulate the elements of the num_list
functools.reduce(operator.add, num_list)

28

In [49]:
# multiply and accumulate the elements of the num_list
functools.reduce(operator.mul, num_list)

5040

## A few last symbols for us to know.

### pipes

Pipe symbols, known as *bars*, can mean different things depending on the
context. Three common uses of pipes are: `absolute value`, `euclidean norm`, and `determinant`. We will cover the first two here.

#### absolute value

$$\left | x \right |$$

In [50]:
## the abs() function in base Python gives absolute value
x = -8
abs(x)

8

#### Euclidean norm

$$\left \| \mathbf{v} \right \|$$

For a vector **v**, `‖v‖` is the [Euclidean norm](https://en.wikipedia.org/wiki/Norm_%28mathematics%29#Euclidean_norm) of **v**. It is also referred to as the "magnitude" or "length" of a vector.

The **numpy** function `linalg.norm` computes various norms, depending on the value of the **ord** parameter passed in. The default value of the ord parameter in numpy.linalg.norm is 2, and because the Euclidean distance is the l2 norm, the function computes the Euclidean norm when the **ord** parameter is not specified.

https://numpy.org/devdocs/reference/generated/numpy.linalg.norm.html

https://www.geeksforgeeks.org/find-a-matrix-or-vector-norm-using-numpy/

https://stackoverflow.com/questions/1401712/how-can-the-euclidean-distance-be-calculated-with-numpy

In [51]:
v = [0, 4, -3]
np.linalg.norm([0, 4, -3])

5.0

### hat -- three possible uses

#### In **geometry**, the `hat` symbol above a character is used to represent a [unit vector](https://en.wikipedia.org/wiki/Unit_vector). For example, here is the unit vector of **a**:

$$\hat{\mathbf{a}}$$

In Cartesian space, a unit vector is typically length 1. That means each part of the vector will be in the range of -1.0 to 1.0.

Let's *normalize* a 3D vector into a unit vector. We will use the sklearn function normalize() to perform this operation:

In [52]:
a = [ 0, 4, -3 ]

from sklearn.preprocessing import normalize
normalize([a])

array([[ 0. ,  0.8, -0.6]])

#### In **statistics**, the `hat` symbol above a character is used to represent a matrix or set of variables that has been normalized. You will see this in many classes in the program, and in a future homework notebook.

Normalizing variables means that we perform a computation on the variable such that the range of the values is between 0 and 1.

The most common reason to normalize variables is when we conduct some type of multivariate analysis (i.e. we want to understand the relationship between several predictor variables and a response variable) and we want each variable to contribute equally to the analysis.

When variables are measured at different scales, they often do not contribute equally to the analysis. For example, if the values of one variable range from 0 to 100,000 and the values of another variable range from 0 to 100, the variable with the larger range will be given a larger weight in the analysis.

By normalizing the variables, we can be sure that each variable contributes equally to the analysis.

To normalize the values to be between 0 and 1, we use the following formula:

$$\hat{x} = x_{norm} = (x_{i} – x_{min})  /  (x_{max} – x_{min})$$

where:

$x_{norm}$: The ith normalized value in the dataset

$x_i$: The ith value in the dataset

$x_{max}$: The minimum value in the dataset

$x_{min}$: The maximum value in the dataset



https://www.statology.org/normalize-data-in-python/

Let's do a quick example each for a numpy array and a pandas dataframe.

In [53]:
#create NumPy array
data = np.array([[13, 16, 19, 22, 23, 38, 47, 56, 58, 63, 65, 70, 71]])

#normalize all values in array
data_norm = (data - data.min())/ (data.max() - data.min())

data_norm

array([[0.        , 0.05172414, 0.10344828, 0.15517241, 0.17241379,
        0.43103448, 0.5862069 , 0.74137931, 0.77586207, 0.86206897,
        0.89655172, 0.98275862, 1.        ]])

In [54]:
#create DataFrame
df = pd.DataFrame({'points': [25, 12, 15, 14, 19, 23, 25, 29],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})

#normalize values in every column
df_norm = (df-df.min())/ (df.max() - df.min())

df_norm

     points  assists  rebounds
0  0.764706    0.125  0.857143
1  0.000000    0.375  0.428571
2  0.176471    0.375  0.714286
3  0.117647    0.625  0.142857
4  0.411765    1.000  0.142857
5  0.647059    0.625  0.000000
6  0.764706    0.625  0.571429
7  1.000000    0.000  1.000000

#### Finally, the `hat` symbol above a character is used to represent the value of a function or equation.

From the equation above, removing the `norm` gives us:

$$\hat{x} = (x_{i} – x_{min})  /  (x_{max} – x_{min})$$

$\hat{x}$ is simply the value of the function. You may see this notation used in homework notebooks and exams.

## Some Useful Functions

### Square (or Power) -- Number raised to some power

We can use two methods for returning a number raised to some power:

    1. The pow() function in the `math` module
    
    2. A lambda function
    
For example, let's compute

$$y = x^{2}$$

We might start by writing this as a function:

$$f\left (x  \right ) = x^{2}$$

In [55]:
import math

def square(x):
    return math.pow(x,2)
square(10)

100.0

Or just using the `pow()` function:

In [56]:
x = 10
power = 2
math.pow(x,power)

100.0

In [57]:
x**power

100

We can also use a `lambda` function:

In [58]:
# using a lambda function
z = lambda y,pow: y**pow
z(x,power)

100

### Square Root

We have the function `sqrt()`, which is part of the `math` module.

Additionally, from the above, you should be able to see that, as square root is simply raising a number to the 0.5 power, we can use the same code as above.

In [59]:
a = 25
sqrtpower = 0.5
math.pow(x,power)

100.0

In [60]:
a**sqrtpower

5.0

#### Again, something a little more complex. How would we code this function?:

$$f(x,y) = \sqrt{x^2 + y^2}$$

In [61]:
def sqrtsums(x,y):
    import math
    sums = x**2 + y**2
    root = math.sqrt(sums)
    return root

# return the square root of 125, which is about 11.18
sqrtsums(5,10)

11.180339887498949

### Piecewise functions

Some functions will use different relationships depending on the input value, *x*.

The following function *ƒ* chooses between two "sub functions" depending on the input value.


$$f(x)=
\begin{cases}
    \frac{x^2-x}{x},& \text{if } x\geq 1\\
    0, & \text{otherwise}
\end{cases}$$

This is very similar to `if` / `else` in code. The right-side conditions are often written as **"for x < 0"** or **"if x = 0"**. If the condition is true, the function to the left is used.

In piecewise functions, **"otherwise"** and **"elsewhere"** are analogous to the `else` statement in code.

In [62]:
def piece(x):
    if (x >= 1):
        return (math.pow(x, 2) - x) / x
    else:
        return 0

print(piece(5))
print(piece(-3))

4.0
0

### What are your questions on math as code?

The above was adapted from

https://github.com/Jam3/math-as-code/blob/master/PYTHON-README.md

Under the MIT license:

https://github.com/Jam3/math-as-code/blob/master/LICENSE.md